body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: blanchedalmond;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  color: #BE253F;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  color: #484848;
  font-size: 1em;
}

.container-header {
  width: 100vw;
}

.lett-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  margin-top: 10%;
  fill: transparent;
  animation: lettering-preenchimento .5s ease-in-out forwards 3s;
}

.lett-header path {
  stroke-width: 2px;
  stroke: #BE253F;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
  animation: lettering-tracado 4.5s ease-in-out forwards 1s;
}

.container-cards {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 10px;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  margin: 20px;
  padding: 20px;
}

@keyframes lettering-preenchimento {
  to {
    fill: #BE253F;
  }
}

@keyframes lettering-tracado {
  to {
    stroke-dashoffset: 0;
  }
}